.general_form{
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: transparent;
  }
  
  .title_form{
      width: 90%;
      margin: 0 auto;
      text-align: left;
      padding:5px;
  }
  
  .title_form h3{
      font-family: inherit;
      font-size: 1.8rem;
      color: rgb(5, 5, 180);
      text-transform:capitalize;
      letter-spacing: 0.1rem;   
  }
  
  .control_checkboxs{
      margin: 1rem;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content:space-around;
  }
  
  
  .form_control {
      margin-bottom: 1rem;
    }
    
    .form_control input,
    .form_control label {
      display: block;
    }
    
    .form_control label {
      color:#000000;
      font-weight: bold;
      font-size: 1.2rem;
      margin-left: 5px;
      margin-bottom: 0.5rem;
    }
    
    .form_control input,
    .form_control select {
      font: inherit;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 37rem;
      max-width: 100%;
    }
    
    .form_control input:focus {
      outline: none;
      border-color: #3930e9;
      background-color: #d4dafd;
    }
    
    .controls_group {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      margin: 0 auto;
    }
    
    .controls_group .form_control {
      min-width: 15rem;
      flex: 1;
    }
    
    button {
      font: inherit;
      background-color: #1427d3;
      color: white;
      border: 1px solid #1427d3;
      padding: 0.5rem 2rem;
      border-radius: 4px;
      margin-top: 1rem;
      cursor: pointer;
    }
    
    button:hover,
    button:active {
      background-color: #00156e;
      border-color: #00156e;
    }
    
    .form_actions {
      text-align: center;
    }
    
    .form_actions button {
      margin-left: 1rem;
    }
    
    .invalid input {
      border: 1px solid #b40e0e;
      background-color: #fddddd;
    }
    
    .invalid input:focus {
      border-color: #ff8800;
      background-color: #fbe8d2;
    }
    
    .error-text {
      color: #b40e0e;
    }
  