.auth {
    margin: 6rem auto;
    width: 45%;
    height: 400px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(55, 82, 230);
    box-shadow: 0px 12px 36px 0px rgba(0,0,0,0.69);
    padding: 2rem;
    text-align: center;
  }
  
  .auth h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    letter-spacing: 0.5rem;
  }
  
  .control {
    margin-bottom: 4rem;
  }
  
  .control label {
    display: block;
    color: rgb(33, 32, 32);
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  
  .control input {
    font: inherit;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    border: 1px solid rgb(53, 56, 247);
    width: 80%;
    height: 25px;
    text-align: left;
    padding: 0.6rem;
   
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    font-size: 1.5rem;
    color:white;
    font-weight: bold;
    background-color: #8592f0;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.2rem;
    padding: 1rem 5rem;
  }
  
  .actions button:hover {
    background-color: #5a73d7;
    border-color: #5a73d7;
  }
  
  .actions .toggle {
    margin-top: 1.6rem;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.15rem 1.4rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #8288cc;
  }