.auth {
    margin: 6rem auto;
    width: 50%;
    height: 300px;
    border-radius: 6px;
    background-color: #2424fa;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    text-align: center;
  }
  
  .auth h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  
  .control {
    margin-bottom: 3rem;
  }
  
  .control label {
    display: block;
    color: rgb(10, 10, 10);
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
  }
  
  .control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #5260f7;
    border-radius: 3px;
    border: 1px solid rgb(92, 95, 245);
    width: 80%;
    height: 20px;
    text-align: left;
    padding: 0.27rem;
   
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: #3a50f7;
    border: 1px solid #444af7;
    border-radius: 4px;
    padding: 0.8rem 3.5rem;
  }
  
  .actions button:hover {
    background-color: #5a73d7;
    border-color: #5a73d7;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #8288cc;
  }